.cardWrapper{
    /* width: 25%; */
    border: 2px solid #8ebfa2;
    /* height: 100%; */
}

.cardWrapper img{
    height: 100%;
    width: 100%;
    vertical-align: middle;
    padding: 8px;
}


.heroName{
    position: relative;
    bottom: 30px;
    font-weight: 600;
    text-align: center;
    font-size: .8rem;
}

@media screen and (min-width: 320px) and (max-width: 480px){
	.heroName{
        font-size: .35rem;
        bottom: 20px;
    }
}