th, td{
    border: 1px solid black;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead tr{
    background-color: #009879;
}

th{
    padding: 12px 2px;
    color: white;
    font-weight: 600;
}

tbody td{
    margin-bottom: 1px;
    text-align: center;
    padding: 12px 2px;
}

tbody tr{
    font-weight: 500;
}

tbody tr:nth-child(even){
    background-color: #d6d4d4;
}

.searchWrapper{
    padding: 2.5rem;
    padding-top: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.searchInputWrapper{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    width: 100%;
}

.searchInputWrapper input{
    width: 100%;
    padding: 12px;
    /* #009879 */
    background: #009879;
    font-weight: 500;
    color: black;
    transition: all 300ms ease;
}

.searchInputWrapper input::placeholder{
    color:white;
}

.searchInputWrapper input:focus{
    color:white;
    background: #37aa93;
    outline: 1px solid black;
    transition: all 300ms ease;
}

input:focus::placeholder{
    color:white;
}

.searchInfo{
    width: 100%;
}

.searchInfo h4{
    margin-bottom: 10px;
}

@media screen and (min-width: 320px) and (max-width: 700px){
    table{
        border-collapse: collapse;
    }

    table thead tr{
        display: none;
    }    

    table tr{
        display: block;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    table tr:first-child{
        border-top: 1px solid black;
    }

    table tr:last-child{
        border-bottom: 1px solid black;
    }

    table td{
        border: none;
        text-align: right;
        display: block;
    }

    table th, table td{
        padding: 1em;
    }

    table td::before{
        content: attr(data-title) ": ";
        float: left;
    }

    tbody tr:nth-child(even){
        background: #00886d;
        color: lightgray;
    }
}