.wrapper {
    display: flex;
    flex-direction: column;
    background-image: url('/svetlogorsk_react/IzaslavBG.png');
}
.info {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1.5rem;
    border-radius: 10px;
    align-self: center;
    background-color: rgba(158, 156, 156, 0.55);
}

.photo {
    flex-shrink: 0;
    max-width: 253px;
}

.photo img {
    width: 100%;
}

.poem {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
}

.poem p {
    font-weight: 500;
    padding: .38rem;
}

.sectionTitle {
    padding: .25rem;
    margin: 1.55rem;
    /* border: 1px solid rgba(0, 0, 0, 1); */
    font-weight: 700;
    font-size: 24px;
    border-radius: 4px;
    background: rgba(0, 0, 0, .55);
    color: white;
}

.paragraphWrapper {
    margin: 1.55rem;
    padding: .85rem;
    background-color: rgba(0, 0, 0, .65);
    border-radius: 10px;
}

.pharagraphText {
    font-weight: 500;
    font-size: 14px;
    color: white;
}



@media screen and (min-width: 320px) and (max-width: 480px){
    .photo{
        max-width: 185px;
        border-radius: 10px;
        border: 2px solid #c3c3c3;
    }

    .info{
        align-items: center;
        flex-direction: column;
        margin: 1rem;
        gap: 1rem;
    }

    .poem p{
        font-weight: 600;
        padding: 1rem;
    }
}
