.buttonWrapper{
    user-select: none;

    display: flex;
    align-items: center;
    gap: .45rem;
    padding: 8px 15px;

    /* background: #161616; */
    color: #161616;
    transition: all 300ms ease;

}

.buttonWrapper:hover{
    background: #444343;
    color:white;
    transition: all 300ms ease;
}

.buttonWrapper:hover img{
    transition: all 300ms ease;

    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(228deg) brightness(110%) contrast(101%);
}

.activeButton{
    background: #161616;
    color: white;
}

.activeButton img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(228deg) brightness(110%) contrast(101%);
}