.buttonsWrapper{
    /* OPTIONAL 
    position: sticky;
    top: 0;
    z-index: 999;
     */
    margin-top: 0.45rem;
    margin-bottom: 0.45rem;

    align-self: center;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.85rem;

    background: rgba(4, 4, 4, .45);
    padding: .75rem;
    border-radius: 15px;
}

.headerButtonsWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .85rem;
}


.menu{display: none;}

.line{
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 15px;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .headerButtonsWrapper{
        align-items: end;
        flex-direction: column;
    }

    .buttonsWrapper{
        align-items: end;
    }

    .menu{
        display: flex;
        flex-direction: column;
        gap: .34rem;
    }
    
    .headerButtonsWrapper.menuVisible{
        display: none;
    }
}