.buttonsWrapper{
    /* OPTIONAL 
    position: sticky;
    top: 0;
    z-index: 999;
     */
    margin-top: 0.45rem;
    margin-bottom: 0.45rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .buttonsWrapper{
        margin-left: 1rem;
        gap: 1rem;
        align-items: flex-start;
        flex-direction: column;
    }
}