@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	text-decoration: none;

	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
}

html, body, #root{
	height: 100%;
	width: 100%;
}

body{
	background: #ebf7f0;
}


button{
	cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px){
	/*#root{
		width: calc(100% - 7px);
	}*/
}